@import "./normalize.scss";

/* ps字符间距计算方法：real_letter_spacing = font / 1000  *  spacing */

/* font-color */
$font-red: #ee726f;
$font-black: #555555;
$font-grey: #8e8e8e;
$font-yellow: #fcd268;
$font-white: #fff;

/* background-color */
$bg-main: #fafafa;

/* border-color */
$bd: #dcdcdc;

/* border-radius */
$br-main: 10px;
$br-5: 5px;

/* border-width */
$bw-main: 2px;

/* z-index */
$zl-1: 100;
$zl-2: 200;
$zl-3: 300;
$zl-4: 400;

/* login checkbox style */
#ifAutomatic .el-checkbox__input {
  height: 17px;
  &.is-checked .el-checkbox__inner {
    background-color: $font-grey;
    border-color: $font-grey;
  }
}
#ifAutomatic .el-checkbox__inner {
  width: 15px;
  height: 15px;
  border: $bw-main solid $font-grey;
  border-radius: 3px;
  &:after {
    left: 3px;
  }
  &:hover {
    border-color: $font-grey;
  }
}

/* sign dialog style */
#signup {
  .el-dialog {
    &.image_dialog {
      height: 600px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #333333ab;
      margin: 0 !important;
      top: 50vh;
      left: 50vw;
      transform: translate(-50%, -50%);
      .el-dialog__headerbtn .el-dialog__close {
        color: #909399 !important;
        outline: 0;
      }
      .el-dialog__header {
        padding: 0;
      }
    }
  }
  .el-dialog.signup_dialog {
    width: 1100px !important;
    height: 600px;
    margin-top: calc(50vh - 300px) !important;
    margin-bottom: 0;
    border: $bw-main solid $bd;
    border-radius: 10px;
    background-color: $bg-main;
    overflow: hidden;
    .el-dialog__header {
      display: none;
    }
    .el-dialog__body {
      width: 100%;
      height: 100%;
      padding: 0;
    }
  }
  .address-select,.birthday-select, .hobby-select {
    .el-input__inner {
      width: 400px;
      height: 46px;
      border-radius: 5px;
      border: $bw-main solid $bd;
      color: $font-grey;
      letter-spacing: 1.3px;
      font-size: 13px;
      line-height: 42px;
    }
  }
  .extra-input, .nickname-input {
    .el-input--suffix {
      width: 400px;
      .el-input__inner {
        height: 46px;
        line-height: 42px;
        border-radius: 5px;
        border: $bw-main solid $bd;
        color: $font-grey;
        letter-spacing: 1.3px;
        font-size: 13px;
      }
      .el-input__suffix {
        .el-input__icon {
          line-height: 48px;
        }
      }
    }
  }
  .birthday-select {
    .el-input__inner {
      padding-left: 40px;
    }
    .el-icon-date {
      line-height: 46px;
      width: 40px;
    }
  }
  .el-slider {
    width: 388px;
    padding-left: 8px;
    .el-slider__bar {
      background-color: $font-yellow;
    }
    .el-slider__button {
      border-color: $font-yellow;
    }
  }
  .fifth-form-content {
    > div {
      height: 148px !important;
    }
    .el-upload--picture-card:hover, .el-upload:focus {
      border-color: $font-red;
      color: $font-red;
    }
    .el-upload-list__item .el-icon-close-tip {
      display: none !important;
    }
    .el-upload-list--picture-card .el-upload-list__item {
      margin-bottom: 0;
    }
    .el-upload-list--picture-card .el-upload-list__item-thumbnail {
      max-width: 100%;
      width: unset;
      height: unset;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .el-upload-list__item.is-success .el-upload-list__item-status-label {
      line-height: 25.2px;
    }
    .el-upload-list--picture-card .el-upload-list__item-status-label {
      background-color: $font-red;
    }
    .el-progress--circle {
      display: none !important;
    }
  }
}
.el-popover.popover {
  padding: 30px;
  border-radius: 7px;
  .content {
    font-size: 14px;
    letter-spacing: 1.05px;
    .red-font {
      color: $font-red;
    }
    .yellow-font {
      color: $font-yellow;
    }
  }
}
.el-select-dropdown.form-select,  .el-select-dropdown.hobby-select-class{
  .el-select-dropdown__item {
    span {
      letter-spacing: 1.3px;
    }
    &.selected {
      color: $font-red;
    }
  }
}
.el-date-picker.birthday-select-popper {
  width: 330px;
  .el-picker-panel__content {
    width: 300px;
    .el-month-table td .cell:hover,
    .el-month-table td.today .cell,
    .el-month-table td.current:not(.disabled) .cell,
    .el-year-table td.today .cell,
    .el-year-table td .cell:hover,
    .el-year-table td.current:not(.disabled) .cell {
      color: $font-red;
    }
  }
  .el-picker-panel__body {
    .el-date-picker__header-label.active,
    .el-date-picker__header-label:hover,
    .el-picker-panel__icon-btn:hover {
      color: $font-red;
    }
  }
  .el-month-table, .el-year-table {
    font-size: 14px;
    letter-spacing: 1.05px;
  }
}
.el-select-dropdown.is-multiple.hobby-select-class {
  .el-select-dropdown__item.selected {
    color: $font-red;
  }
}
/* 更改全局消息提示style */
.el-message__content {
  font-size: 14px;
  letter-spacing: 1.05px;
}