@import "./normalize.scss";

/* ps字符间距计算方法：real_letter_spacing = font / 1000  *  spacing */

/* font-color */
$font-red: #ee726f;
$font-black: #555555;
$font-grey: #8e8e8e;
$font-yellow: #fcd268;
$font-white: #fff;

/* background-color */
$bg-main: #fafafa;

/* border-color */
$bd: #dcdcdc;

/* border-radius */
$br-main: 10px;
$br-5: 5px;

/* border-width */
$bw-main: 2px;

/* z-index */
$zl-1: 100;
$zl-2: 200;
$zl-3: 300;
$zl-4: 400;

/* login checkbox style */
#ifAutomatic .el-checkbox__input {
  height: 17px;
  &.is-checked .el-checkbox__inner {
    background-color: $font-grey;
    border-color: $font-grey;
  }
}
#ifAutomatic .el-checkbox__inner {
  width: 15px;
  height: 15px;
  border: $bw-main solid $font-grey;
  border-radius: 3px;
  &:after {
    left: 3px;
  }
  &:hover {
    border-color: $font-grey;
  }
}

/* sign dialog style */
#signup {
  .el-dialog {
    width: 1100px !important;
    height: 600px;
    margin-top: calc(50vh - 300px) !important;
    margin-bottom: 0;
    border: $bw-main solid $bd;
    border-radius: 10px;
    background-color: $bg-main;
    overflow: hidden;
    .el-dialog__header {
      display: none;
    }
    .el-dialog__body {
      width: 100%;
      height: 100%;
      padding: 0;
    }
  }
  .address-select {
    .el-input__inner {
      width: 400px;
      height: 46px;
      border-radius: 5px;
      border: $bw-main solid $bd;
      color: $font-grey;
      letter-spacing: 1.3px;
      font-size: 13px;
      line-height: 42px;
    }
  }
  .extra-input {
    .el-input--suffix {
      width: 400px;
      .el-input__inner {
        height: 46px;
        line-height: 42px;
        border-radius: 5px;
        border: $bw-main solid $bd;
        color: $font-grey;
        letter-spacing: 1.3px;
        font-size: 13px;
      }
      .el-input__suffix {
        .el-input__icon {
          line-height: 48px;
        }
      }
    }
  }
}
.el-popover.popover {
  padding: 30px;
  border-radius: 7px;
  .content {
    font-size: 14px;
    letter-spacing: 1.05px;
    .red-font {
      color: $font-red;
    }
    .yellow-font {
      color: $font-yellow;
    }
  }
}
.el-select-dropdown.form-select {
  .el-select-dropdown__item {
    span {
      letter-spacing: 1.3px;
    }
    &.selected {
      color: $font-red;
    }
  }
}